langchain-groq
dotenv
langchain
langchain-core
langchain-community
sentence-transformers
langchain-huggingface
faiss-cpu
# backend
fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
firebase-admin
httpx