langchain-groq
dotenv
langchain
langchain-core
langchain-community
sentence-transformers
langchain-huggingface
faiss-cpu
# backend
fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.3.0
firebase-admin
httpx